<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // House tax
    var houseValue = function() {
      var value = parseFloat($("#select-house").val().replace(/\./g, "").replace(/,/, ".")).toFixed(0);
      if (isNaN(value)) {
        $("#select-house").val("")
        value = "";
      }
      return value;
    }

    // Set tax receipt taxes values
    TaxReceipt.taxes.house.callback = function(selector, values) {
      var value = houseValue();
      var quota = value * 0.002342 ;
      var bonus = $('#select-house-bonus').val() | 0;
      var bonusValues = [0, .5, .9, .5];
      return quota * (1 - bonusValues[bonus]);
    };

    TaxReceipt.taxes.vehicle.values      = [0, 10.94, 10.96, 18.79, 38.00, 77.73, 157.64, 43.10, 81.88, 148.60, 188.31, 282.08, 353.74];
    TaxReceipt.taxes.vehicle.callback = function(selector, values) {
      var value = $('#select-vehicle').val();
      var quota = values[value];
      var bonus = $('#select-vehicle-bonus').val() | 0;
      var bonusValues = [0, 1, 1, .5];
      return quota * (1 - bonusValues[bonus]);
    };

    TaxReceipt.taxes.vehicleExtra.values = [0, 10.94, 10.96, 18.79, 38.00, 77.73, 157.64, 43.10, 81.88, 148.60, 188.31, 282.08, 353.74];
    TaxReceipt.taxes.vehicleExtra.callback = function(selector, values) {
      var value = $('#select-extra-vehicle').val();
      var quota = values[value];
      var bonus = $('#select-extra-vehicle-bonus').val() | 0;
      var bonusValues = [0, .5, 1, .5];
      return quota * (1 - bonusValues[bonus]);
    };

    // Set tax receipt taxes values
    TaxReceipt.taxes.garbage.values      = [0, 119.04];
    TaxReceipt.taxes.parking.values      = [0, 14.18*3, 14.18*5];

    // Add extra tax
    // We can add new taxed to TaxReceipt.taxes object
    // defining its selector, values array & callback function
    /*
    TaxReceipt.taxes.animal = {
      selector: 'animal',
      values:   [0, 100, 200, 300, 400],
      callback: TaxReceipt.getSelectTaxPaid
    }
    */

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

    // Currency mask for house input
    $("#select-house").change(function() {
      $("#select-house").val(houseValue().replace(/(\d)(?=(?:\d{3})+\b)/g, "$1."));
    });

    $("#select-house").on("keypress", function(event) {
      var keycode = event.which;
      if (keycode == 13)
        $("#select-house-bonus").trigger("focus");
    });

  });
</script>
