<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // House tax
    var houseValue = function() {
      var value = parseFloat($("#select-house").val().replace(/\./g, "").replace(/,/, ".")).toFixed(0);
      if (isNaN(value)) {
        $("#select-house").val("")
        value = "";
      }
      return value;
    }

    // House extra tax
    var houseExtraValue = function() {
      var value = parseFloat($("#select-house-extra").val().replace(/\./g, "").replace(/,/, ".")).toFixed(0);
      if (isNaN(value)) {
        $("#select-house-extra").val("")
        value = "";
      }
      return value;
    }

    // Set tax receipt taxes values
    TaxReceipt.taxes.house.callback = function(selector, values) {
      var value = houseValue();
      var quota = value * 0.001959;
      var bonus = $('#select-house-bonus').val() | 0;
      var bonusValues = [0, .5, .6, .9, .5];
      return (quota * (1 - bonusValues[bonus])) + TaxReceipt.taxes.houseExtra.callback()
    };
    TaxReceipt.taxes.houseExtra = {};
    TaxReceipt.taxes.houseExtra.callback = function() {
      var value = houseExtraValue();
      var quota = value * 0.001959
      var bonus = 0;
      var bonusValues = [-1];
      return quota * (1 - bonusValues[bonus]);
    };

    TaxReceipt.taxes.vehicle.values = [0, 10.50, 10.50, 19.20, 39.20, 78.30, 156.55, 28.00, 82.10, 152.60, 218.70, 290.45, 366.40];
    TaxReceipt.taxes.vehicle.callback = function(selector, values) {
      var value = $('#select-vehicle').val();
      var quota = values[value];
      var bonus = $('#select-vehicle-bonus').val() | 0;
      var bonusValues = [0, 1, 1, .75];
      $('#select-extra-vehicle-bonus option').each(function() {
          $(this).show()
        });
      if (bonus == 1 || bonus == 2) {
        $('#select-extra-vehicle-bonus option[value="' + bonus + '"]').hide()
      }
      return quota * (1 - bonusValues[bonus]) + TaxReceipt.taxes.vehicleExtra.callback();
    };
    TaxReceipt.taxes.vehicleExtra = {};
    TaxReceipt.taxes.vehicleExtra.values = [0, 10.50, 10.50, 19.20, 39.20, 78.30, 156.55, 28.00, 82.10, 152.60, 218.70, 290.45, 366.40];
    TaxReceipt.taxes.vehicleExtra.callback = function() {
      var value = $('#select-extra-vehicle').val();
      var quota = this.values[value];
      var bonus = $('#select-extra-vehicle-bonus').val() | 0;
      var bonusValues = [0, 1, 1, .75];
      $('#select-vehicle-bonus option').each(function() {
          $(this).show()
        });
      if (bonus == 1 || bonus == 2) {
        $('#select-vehicle-bonus option[value="' + bonus + '"]').hide()
      }
      return quota * (1 - bonusValues[bonus]);
    };

    // Set parking tax values
    TaxReceipt.taxes.parking.values      = [0, 0, 17.30*3, 17.30*5];

    // Add extra tax
    // We can add new taxed to TaxReceipt.taxes object
    // defining its selector, values array & callback function
    /*
    TaxReceipt.taxes.animal = {
      selector: 'animal',
      values:   [0, 100, 200, 300, 400],
      callback: TaxReceipt.getSelectTaxPaid
    }
    */

    // Remove unused taxes
    delete TaxReceipt.taxes.garbage;


    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

    // Currency mask for house input
    $("#select-house").change(function() {
      $("#select-house").val(houseValue().replace(/(\d)(?=(?:\d{3})+\b)/g, "$1."));
    });

    $("#select-house").on("keypress", function(event) {
      var keycode = event.which;
      if (keycode == 13)
        $("#select-house-bonus").trigger("focus");
    });

    // Currency mask for house extra input
    $("#select-house-extra").change(function() {
      $("#select-house-extra").val(houseExtraValue().replace(/(\d)(?=(?:\d{3})+\b)/g, "$1."));
    });

    $("#select-house-extra").on("keypress", function(event) {
      var keycode = event.which;
      if (keycode == 13)
        $("#select-vehicle").trigger("focus");
    });

  });
</script>
